name: Erlang CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Setup FirebirdSQL container
      uses: juarezr/firebirdsql-github-action@v1.0.0
      with:
        version: '2.5-ss'
        isc_password: "masterkey"
    - name: Run tests
      run: rebar3 eunit
