name: Erlang CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest
    container:
      image: ubuntu-latest
      ports:
        - 3050:3050

    steps:
    - uses: actions/checkout@v2
    - name: Set up Firebird
      run: |
        sudo apt install firebird3.0-server -y
        sudo cp attic/firebird.conf /etc/firebird/3.0
        sudo systemctl restart firebird3.0
        sudo chmod 0664 /etc/firebird/3.0/SYSDBA.password
        grep '=' /etc/firebird/3.0/SYSDBA.password |sed 's/^/export /' >test_user.env
    - name: Run tests
      run: |
        source test_user.env
        rebar3 eunit
